* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  font-family: "Poppins", sans-serif;
}

/*Scrollbar*/
body::-webkit-scrollbar {
  width: 8px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: var(--peach);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--green);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}

.active{
  color: #3A643B;
  font-weight: var(--bold);
}
:root {
  --brdr : 1px solid black;
  --standard-width : 1232px;
  --selected-border : #67BB69;
  --selected-bg : #F2FBF2;
  --green : #3A643B;
  --peach : #FFF7E2;
  --grey : #333548;
  --border-color : #F4F7EC;
  --regular : 400; /*400*/
  --medium : 0.875rem;  /*500*/ 
  --semi-bold : 1.25rem; /*600*/
  --bold : 700; /*700*/
}



.header {
  display: flex;
  background: var(--peach);
  height: 94px;
  align-items: center;
  justify-content: center;
}

.header-content {
  display: flex;
  width: 92%;
  height: 56px;  
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
  align-items: center;
  margin-left: 80px;
  width: 330px;    
  justify-content: space-between;
}

/* not visible on devices less than tablet */
@media (max-width : 768px) {
  .navbar {
    display: none;
  }
}

.nav-items {
  font-weight: var(--semi-bold);
  
}

.login {   
  outline: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 11px;
  padding: 13px 23px;
  border: 1px solid var(--green);
  background-color: var(--peach);
  color: var(--green);
}
.signup {
  margin-left: 16px;   
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 11px;
  padding: 14px 24px;
  border: none;
  background-color: var(--green);
  color: var(--peach);
}
/*Page flex layout container*/
.page {
  margin: 40px 0px;
  display: flex;
  flex-direction: column;
}
/*Booking Appointment*/
.container-profile {
  display: flex;
  justify-content: center;

}

.book-container {
  height: 280px;
  border-radius: 12px;
  width: 90%;
  background-color: var(--peach);
  display: flex;
  flex-direction: column;
}

.upper-container {
  display: flex;
  height: 128px;
  border-radius: 12px;
  background-image: url('/public/image 160.png');
}
.lower-container {
  display: flex;
  height: 100px;
  border-radius: 12px;
  background-color: var(--peach);
  align-items: center;
  justify-content: space-around;
}

.profile{
  display: flex;
  align-items: center;
}

.profile-details{
  margin-left: 20px;
}

.adjustmentFlex{
  display: flex;
}

.profile-pic {
  width: 159px;
  height: 159px;
}

.pname{
  font-weight: var(--bold);
}

.prof{
  font-weight: var(--medium);
  color: var(--green);
}


.following-data {
  width: 280px;
  display: flex;
  justify-content: space-between;
}

/*Content FLex*/
.content {
  display: flex;
  width: 100%;
  margin-top: 40px;
  justify-content: center;
}

/*First column*/
.column1{
  margin: 0;
  padding: 0;
  width: 47%;
  
}
.AliitleAboutMe {
  width: 95%;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-radius: 18px;
  border: 1px solid #DCDCDC;
}
/*Second column*/
/* .content2 {
  width: 584px;
  border-radius: 18px;
  border: 1px solid #DCDCDC;
} */

.content2_border {
  width: 584px;
  border-radius: 18px;
  border: 1px solid #DCDCDC;
}

.detail-header {
  display: flex;
  padding: 10px 0px;
  margin: 10px 35px;
  align-items: center;
  justify-content: space-between;
}

.content-display {
  display: flex;
  flex-direction: column;
  margin: 10px 35px;
  align-items: flex-start;
  justify-content: space-between;
}

.header-text {
  font-size: var(--semi-bold);
}
.content-text{
  font-size: var(--regular);
  color: var(--grey);
}

p {
  font-size: var(--regular);
}

.languages {
  margin: 5px 0;
  display: flex;
  flex-direction: row;
  /* background-color: #3A643B; */
}

.lang {
  font-size: var(--semi-bold);
}

.lang-text { 
  outline: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: var(--medium);
  border-radius: 16px;
  padding: 10px 25px;
  background-color: var(--border-color);
}

.social-icons-cont{
  display: flex;
}

.icon-circle{
  margin-top: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  height: 35px;
  width: 35px;
  background-color: var(--border-color);
  border: 1px solid #3A643B;
}

/*specialize*/
.specialize-logo{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 20px 0px;
}

.single-logo-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

/*Treat*/
.ButtonFlex{
  outline: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: var(--medium);
  border-radius: 16px;
  background-color: var(--border-color);

}

.buttondis {
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.btns {
  margin-left: 11px;
  margin-bottom: 11px;
  font-size: var(--medium);
  color: var(--green);
}

  /*Experience*/
.etxt{
  font-weight: var(--bold);
  color: var(--green);
}

.clg{
  margin: 10px 0px;
  display: flex;
  justify-content: space-between;
}
.clgname{
  margin-right: 10px;
  display: flex;  
}

.clgtext{
  display: flex;
  margin-left: 10px;
  flex-direction: column;
}

/*Reviews*/
.bgbox {
  background-color: var(--border-color);
  border-radius: 17px;
  padding: 25px 35px;
  margin: 10px 0px;
}

/*Content2*/

.display-area {
  /* border: 1px solid rgb(211, 65, 65); */
  margin: 20px 20px;
}


.fee {
  display: flex;
  justify-content: space-between;
  padding: 17px 28px;
  border: 1px solid #DCDCDC;
  border-radius: 17px;
  margin-bottom: 45px;
}

.charges {
  color: var(--green);
  font-weight: var(--bold);
}

/*Sessions*/

.sessions {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
}

.sessionone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #DCDCDC;
  width: 158px;
  height: 78px;
  border-radius: 10px;
}

.selected {
  background-color: var(--selected-bg);
  border: 1px solid #67BB69;
}

.tickline {
  display: flex;
  align-items: center;    
}

.tick{
  margin-left: 10px;
}

/*Pick a time*/
.timehead{
  display: flex;
  margin: 42px 0px;
  justify-content: space-between;
  align-items: center;
}

.week-container {
  border-radius: 21px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 50px;
  border: 1px solid #DCDCDC;
}

/*Time container*/
.timecontainer {
  margin: 42px 30px;
}

.timediv {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 10px 0px;
}

.tchip {
  cursor: pointer;
  display: flex;
  padding: 17px 24px;
  margin: 4px 4px;
  border-radius: 22px;
  border: 1px solid #DCDCDC;
}

/*apmnt btn*/
.apmnt{
  cursor: pointer;
  justify-content: center;
  color: white;
  background-color: var(--green);
}

/* PageTwoContent*/

.PageTwoContent {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 221px;
  width: 100%;
  background-image: url('public/Frame.png');
}

.htext{
  font-size:x-large ;
  font-weight: var(--semi-bold);
}

.inputs {
  display: flex;
  justify-content: center;
  width: 100%;
}

.FilterInputs {
  display: flex;
  justify-content: center;
  padding: 18px 0px;
  margin: 0 5%;
}

.inputblock {
  width: max-content;
  padding: 1%;
}

/* DrProfile */
.DrProfile{
  margin-left: 6%;
  width: 90%;
}

.DoctorCard {
  width: max-content;
  margin-right: 10%;
  border-radius: 30px;
  background-color: var(--peach);
}

.DocContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.badge{
  margin-top: -15px;
  outline: none;
  font-size: 16px;
  line-height: 2px;
  font-weight: var(--semi-bold);
  border-radius: 10px;
  padding: 13px 10px;
  background-color: black;
  color: white;

}

.drtitle {
  margin-top: 10px;
  font-size: xx-large;
}

.drdetail_container {
  margin: 10px ;
  margin-left: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.drdetail {
  margin: 5px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.consult_container {
  display: flex;
}

.drdetail_txt {
  padding-left: 4%;
}

.consult_flex{
  border-radius: 10px;
  border: 1px solid #3A643B;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.ctext{
  font-size: small;
}

.price {
  font-weight: var(--bold);
  color: #3A643B;
}

.viewbtn{
  cursor: pointer;
  display: flex;
  margin-top: 10px;
  padding: 10px 0;
  justify-content: center;
  width: 100%;
  border-radius: 8px;
  color-scheme: #3A643B;
  background-color: white;
  border:1px solid #3A643B;
}

.book {
  background-color: #3A643B;
  color: white;
}